/* || Global Styles || */
* {
  box-sizing: border-box;
  margin: 1;
  padding: 1;
}

  body {
    font-family: Arial, sans-serif;
    list-style: 1.6;
    background-color: rgba(184, 8, 253, 0.46);
    padding: 20px;
  }

  .container{
    max-width: 800px;
    margin: 0 auto;
  }
    /* || Card Styling */
  .card {
    background-color: #f3e9ff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(208, 13, 215, 0.692);
  }

  /* || Typography */

h1 {
    Text-align: center;
    margin-bottom: 10px
  }

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    text-decoration: none;
    color:blueviolet;
    padding-left: 40px;
  }

a {
    text-decoration: none;
    color:blueviolet
}

a:hover {
    color:rgb(82, 44, 118)
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th, td {
	border: 1px solid #000000;
	padding: 8px;
}

th {
	background-color: #6b046e;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input, textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 10px;
	background-color : #bb0fd5;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #005fa3;
}

  img{
    border: 3px solid rgb(105, 70, 148)
  }

.dark-mode {
  background-color:#161416;
  color:white;
}

.dark-mode .card {
    background-color: #333;
    color: white;
}
.dark-mode input,
.dark-mode textarea {
    background-color: #444;
    color: white;
    border-color: #666;
}

.hidden {
  display:none;
}