/* || Global Styles || */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body {
    font-family: Arial, sans-serif;
    list-style: 1.6;
    background-color: rgba(184, 8, 253, 0.46);
    padding: 20px;
  }

  .container{
    max-width: 800px;
    margin: 0 auto;
  }
    /* || Card Styling */
  .card {
    background-color: #f3e9ff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(208, 13, 215, 0.692);
  }

  /* || Typography */

h1 {
    Text-align: center;
    margin-bottom: 10px
  }

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    text-decoration: none;
    color:blueviolet
  }

a {
    text-decoration: none;
    color:blueviolet
}

a:hover {
    color:rgb(82, 44, 118)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #0077cc;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  img{
    border: 3px solid rgb(105, 70, 148)
  }

   .main-header {
    border: 3px solid rgb(111, 63, 133);
    background-color: #f3e9ff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

    .main-header h1 {
    color: rgb(82, 44, 118);
    margin: 0;
  }

    .main-header p {
    color: rgb(86, 39, 130);
    margin-top: 8px;
    font-size: 16px;
  }

    footer{
    border: 3px solid rgb(111, 63, 133);
    background-color: #f3e9ff;
    text-align: center;
    padding: 5px;
    margin-top: 12px;
  }
 
    footer p {
    color: rgb(82, 44, 118);
    margin: 0;
  }

  input,textarea{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   
button {
    padding: 10px 20px;
    background-color: rgb(189, 17, 236);
    color: white;
    border: none;   
    cursor: pointer;
}

button:hover {
    background-color: rgb(82, 44, 118);
}